clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
git+https://github.com/facebookresearch/sam2.git
git+https://github.com/haoheliu/AudioLDM.git
dalle2-pytorch # need this to accomodate the pretrained DALLE2 prior from LAION
librosa
numpy
scikit-video
torch
torchaudio
torchvision
ultralytics
wandb
wav2clip
kneed
torch
torchvision
transformers
textblob